<!doctype html>
<html lang="en">
  <head>
      {% load bootstrap4 %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>嘉宾签到</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" style="color: rgba(255,255,255,.5)">{{ event.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/event_manage/">发布会</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/guest_manage/">嘉宾</a>
              </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="color:rgba(255,255,255,.5) ">
                已签到：{{ sign_data }}|应签到：{{ guest_date }}
            </li>
          </ul>
          <form method="post" class="form-inline my-2 my-lg-0">
              <li><a href="/logout/">退出</a></li>
              <li><a style="color: rgba(255,255,255,.5)">欢迎您 , {{ user }}</a></li>
          </form>
      </div>
    </nav>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <form class="form-inline mt-2 mt-md-0" method="post" action="/sign_index_action/{{ event.id }}/" style="padding-top: 15px;padding-left: 20px">
            <input class="form-control mr-sm-2" type="text" name="phone" placeholder="请输入手机号" aria-label="sign_phone" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">签到</button>
          </form>
          <div style="padding-top: 5px;padding-left: 20px">
              <font color="red">{{ hint }}<br>
                  {{ guest_sign.realname }}<br>
                  {{ guest_sign.phone}}
              </font></div>
      </div>
    </main>
  </body>
</html>

